{% extends 'layouts/inside.html.twig' %}

{% block sidebar %}
    {% include 'inc/_nav-companies.html.twig' %}
{% endblock %}

{% block content %}

    <h3 class="border-bottom pb-2 mb-3">Companies</h3>

    <div class="rounded box-shadow my-3 p-3 bg-white">
        <h6 class="border-bottom border-gray pb-2 mb-0">All companies</h6>
        <div class="pt-3">
            <a href="{{ path('companies.create') }}" class="btn btn-success">Add new</a>
        </div>
        <div class="table-responsive pt-3">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nazwa skrócona</th>
                        <th scope="col">NIP</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Opis</th>
                    </tr>
                </thead>
                <tbody>

                    {% for company in companies %}
                    <tr>
                        <td>{{ company.shortName }}</td>
                        <td>{{ company.nip }}</td>
                        <td><a href="{{ path('companies.show', {'id': company.id}) }}">{{ company.name }}</a></td>
                        <td>{{ company.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    {#<h1>Companies - CRM </h1>#}
    {#<div class="pb-2 pl-2">#}
        {#<a href="{{ path('companies.create') }}" class="btn btn-success">Dodaj firmę</a>#}
    {#</div>#}
    {#<table class="table">#}
        {#<thead class="thead-light">#}
        {#<tr>#}
            {#<th scope="col">Nazwa skrócona</th>#}
            {#<th scope="col">NIP</th>#}
            {#<th scope="col">Nazwa</th>#}
            {#<th scope="col">Opis</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}

            {#{% for company in companies %}#}
                {#<tr>#}
                    {#<td>{{ company.shortName }}</td>#}
                    {#<td>{{ company.nip }}</td>#}
                    {#<td>{{ company.name }}</td>#}
                    {#<td>{{ company.description }}</td>#}
                {#</tr>#}
            {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
{% endblock %}